.input-field{
    font-size: 24px;
    border: none;
    padding: .5em 1em;
    width: 65%;
    box-shadow: black 5px 5px 0px;
}

.input-form{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input-submit-btn{
    margin-top: 1em;
    font-size: 32px;
    border: none;
    padding: .5em 2em;
    background: #3700b3;
    box-shadow: black 5px 5px 0px;
    color: white;
    cursor: pointer;
}

.input-wrapper{
    height: 50vh;
    min-height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #6200ee;
    box-shadow: black 0 0 0 5px;
}

.input-radio-container{
    font-size: 24px;
    border: none;
    width: 40%;
    margin-top: 1em;
    background: #3700b3;
    box-shadow: black 5px 5px 0px;
    color: white;
    display: flex;
    justify-content: space-around;
}

.input-radio-btn{
    display: none;
}

.input-radio-label{
    cursor: pointer;
    width: 100%;
    text-align: center;
    height: 2em;
    line-height: 2em;
}

.input-radio-btn:checked + label{
    background: #2a008a;
}

.output-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.output-img{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.output-img-wrapper{
    max-width: 80%;
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width:100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

body{
    margin: 0;
}

.lds-dual-ring{
    display: inline-block;
    width: 256px;
    height: 256px;
    margin-top: 100px;
}
  
.lds-dual-ring:after{
    content: " ";
    display: block;
    width: 184px;
    height: 184px;
    margin: 1px;
    border-radius: 50%;
    border: 20px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  
@media screen and (max-width: 850px) {
    .input-radio-container{
        flex-direction: column;
    }
}